name: Main
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  watch:
    types: [started]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-v8:
    runs-on: ubuntu-latest
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@v4
      with:
          root-reserve-mb: 512   
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-haskell: 'true'
    - name: Checkout
      uses: actions/checkout@v2
    - name: Echo Free space
      run: |
          echo "Free space:"
          df -h
    - name: Set up Python 2.x
      uses: actions/setup-python@v2
      with:
        python-version: '2.x'
    - name: Prepare
      run: |
        sudo apt-get update
        sudo apt-get upgrade -y
        sudo apt remove php7.4-common -y
        sudo apt-get install bzip2  
    - name: Get Resource
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
        export PATH="$PATH:$PWD/depot_tools"
        mkdir v8
        cd v8
        fetch v8
        cd v8
        git checkout 9.1.269.17
        ls -la
        ls build/
        cd ../
        echo "target_os = ['android']" >> .gclient
        gclient sync -D --force --reset
        echo y | sudo /home/runner/work/v8-android/v8-android/v8/v8/build/install-build-deps-android.sh
        ls -la
        cat .gclient
    - name: Build V8
      run: |
        export PATH="$PATH:$PWD/depot_tools"
        ls -la 
        pwd
        echo $HOME
        cd /home/runner/work/v8-android/v8-android/v8/v8
        ls -la
        python /home/runner/work/v8-android/v8-android/v8/v8/tools/dev/v8gen.py --help
        python /home/runner/work/v8-android/v8-android/v8/v8/tools/dev/v8gen.py list
        gn args out/foo --list
